body {
	max-width: 1440px;
	margin: 0;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header, main, footer {
	max-width: 1140px;
	margin:auto;
}

/********************** Admin Nav **********************/
.admin {
	padding: 10px;
	background-color: black;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: 38px;
}

.js-modal {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 20px 0 9px;
}


.add-pictures{
	padding: 9px 20px;
	background-color: #1D6154;
	font-size: 16px;
	color: #FFFFFF;
	border: 1px solid #1D6154;
	border-radius: 25px;
}

.publish-changes {
	background-color: #FFFFFF;
	padding: 11px 23px;
	border: none;
	border-radius: 50px;
}

/********************** Modale **********************/

.modal	{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 58px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	animation: fadeIn 1s both;
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow: auto;
	padding: 1em;
	width: 50%;
	height: 70%;
	max-width: calc(100vw - 20px);
	border-radius: 4px;
	background-color: #FFFFFF;
	color: black;
	animation: slideFromTop .5s both .1s;
}

.close {
	border: none;
	background: none;
	margin: 0;
	align-self: self-end;
}

.close:hover {
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.modal-wrapper h2, .add-pictures{
	margin: 0 auto;
}

.modal-wrapper a {
	margin: 0 auto;
	text-decoration: none;
	color: #D65353;
}

.modal-gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.modal-gallery img {
	width: 100%;
}

@keyframes fadeIn {
	from { opacity: 0;}
	to { opacity: 1;}
}


@keyframes slideFromTop {
	from { transform: translateY(-50px); }
	to { transform: translateY(0px); }
}