/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;
	max-width: 1440px;
	font-size: 14px;
	font-family: 'Work Sans' ;
}

footer {
	background: #FFFFFF;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 150px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
}

nav li {
	padding: 0 22px;
	font-size: 1.2rem;
}

nav img{
	width: 1.571rem;
}

li:hover {
	color: #B1663C;
}

nav li a {
  text-decoration: none;
  color: inherit;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

.introduction {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

.introduction p {
	margin-bottom: 0.5em;
	color: #3D3D3D;
	line-height: normal;
	width: 28.857rem;
}
#portfolio h2 {
	text-align: center;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 51px 0 51px;
}

.filters button {
  padding: 9px 20px;
  background-color: #FFFFFF;
  font-size: 16px;
  color: #1D6154;
  border: 1px solid #1D6154;
  border-radius: 25px;
}

.filters button:hover {
  background-color: #1D6154;
  color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em 7.643rem;
}

/****************** LOGIN PAGE ******************/

#login {
	margin: 115px auto;
}

#login h2 {
	text-align: center;
	margin: 37px;
}

.login {
	padding: 0 33%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 0 auto;
}

.login div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input {
	font-size:  16px;
	padding: 16px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	outline: none;
}

.login a {
	color: inherit;
	margin: 0 auto;
}

/* modale */

main {
	max-width: 1140px;
	margin:auto;
}

/********************** Admin Nav **********************/
.admin {
	padding: 10px;
	background-color: black;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.js-modal {
	color: black;
	text-decoration: none;
	justify-content: center;
}

.publish-changes {
	background-color: #FFFFFF;
	padding: 11px 23px;
	border: none;
	border-radius: 50px;
}

/********************** MODAL **********************/
.modal	{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	animation: fadeIn 1s both;
}

.modal-wrapper {
	border-radius: 10px; 
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow: auto;
	width: 40%;
	height: 85%;
	max-width: calc(100vw - 20px);
	background-color: #FFFFFF;
	color: black;
	animation: slideFromTop .5s both .1s;
}

.modal-top-icons {
	display: flex;
	justify-content: space-between;
}

.close	{
	padding:  0.35em;
}

.close:hover {
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.back	{
	padding: 0.35em;
}

.back:hover {
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.modal-wrapper {
	margin: 0 auto;
	text-align: center;
}

.modal-wrapper a {
	margin: 0 auto;
	text-decoration: none;
	color: #D65353;
}

.gallery-title {
	color: black;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
}

.modal-gallery {
	padding: 0 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.modal-gallery img {
	width: 100%;
	height: 90%;
}

.figure {
	position: relative;
}

.js-delete {
	position: absolute;
	top: 5px;
	right: 5px;
	background: black;
	border: none;
	border-radius: 3px;
	padding: 4px 5px;
	text-decoration: none;
}

.js-delete i{
	color: white;
}

.js-delete:hover{
	cursor: pointer
}

.projects{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin: 4rem;
}

.edit {
	display: flex;
}

.container{
	padding:0 4rem;
}

.container h2 {
	margin: 3rem;
}

.row{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.row div {
	display: flex;
}

hr {
	margin: 2.143rem 4rem;
	width: auto;
	padding: 1px;
	border: none;
	background: #B3B3B3;
}
.btn {
	padding: 9px 49px;
	background: #1D6154;
	font-size: 16px;
	color: #FFFFFF;
	border: 1px solid #1D6154;
	border-radius: 25px;
	margin: 0 auto;
}

.validate{
	background: #A7A7A7; 
	border: none;
}

/********************** MODAL FORM **********************/

#image{
	visibility: hidden;
}

.custom-file-input{
	background: #E8F1F6;
	width: 100%; 
	min-height: 169px; 
}

.form-input{
	background: white;
	padding: 1.2rem;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline: none;
}

@keyframes fadeIn {
	from { opacity: 0;}
	to { opacity: 1;}
}


@keyframes slideFromTop {
	from { transform: translateY(-50px); }
	to { transform: translateY(0px); }
}